/* @import 'compass/css3'; */
/* line 5, main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 12, main.scss */
h3:first-child {
  border-bottom: 1px solid black !important;
  padding: 15px 0 15px 0;
}

/* Space out content a bit */
/* line 17, main.scss */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #CCC;
}

/* line 22, main.scss */
.highlighted {
  background-color: yellow;
}

/* line 26, main.scss */
.openUp,
.openUp a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 34, main.scss */
  .container {
    max-width: 730px;
  }
}
